.services{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 380px;
    margin-top: 25px;
    width: 100%;
  }
.service {
    width: 205px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.service p {
    width: 205px;
    height: 47px;
    display: flex;
    justify-content: center;
}

.service:hover p {
    border-bottom: 2px solid black;
 }

 .service:hover {
   cursor: pointer;
 }

.outsourse {
    background-image: url('/public/img/hero/outsource.png'); 
    background-size: cover;
    width: 205px;
    height: 380px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.block-two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 370px;
}

.blocks {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 675px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.button__more {
    width: 160px;
    height: 50px;
    background-color: #c7d8b6;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    font-weight: 500;
    margin-right: 30px;
}

.button__more:hover p {
    border-bottom: 2px solid black;
 }
.button__more:hover{
    background-color: #000000;
    color: white;
}

.button__order {
    width: 160px;
    height: 50px;
    background-color: #000000;
    color: white;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    font-weight: 450;
}

.button__order:hover {
    background-color: #c7d8b6;
    color: black;
    font-weight: 500;
}

.crm {
    background-image: url('/public/img/hero/crm.png'); 
    background-size: cover;
    width: 205px;
    height: 275px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.cyber {
    background-image: url('/public/img/hero/cyber.png'); 
    background-size: cover;
    width: 205px;
    height: 205px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.consult {
    background-image: url('/public/img/hero/consult.png'); 
    background-size: cover;
    width: 205px;
    height: 275px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 10px;
}

.consult p {
    text-align: center;
    height: 69px;
}


.help {
    background-color: #c7d8b6;
    background-size: cover;
    width: 205px;
    height: 380px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    border-radius: 10px;
}

.help img{
    width: 22px;
}
.help__button{
    width: 50px;
    height: 50px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.help__phone {
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
.help__info p {
    height: initial;
}  
.help:hover p {
    border-bottom: none;
}
.help__info {
    text-align: center;
}

.help:hover .help__immed {
    border-bottom: 2px solid black;
}
.help__immed {
    height: 65px;
    width: 205px;
    display: flex;
    justify-content: center;
}
