.private {
    height: 130px;
    background-color: #c7d8b6;
}

.private-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head__img {
    width: 50px;
    margin-right: 20px;
}

.head {
   display: flex;
   justify-content: center;
   align-items: center;
}

.head__text {
    font-family: IgraSans;
    font-size: 30px;
}

.private .descr {
    width: 390px;
    font-family: IgraSans;
    font-size: 14px;
    display: flex;
    align-items: center;
}