.indications {
    background-color: #c7d8b6;
    margin-top: 60px;
}

.indications-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 210px;
}

.indications__items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}
.indications__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 290px;
    position: relative;
}

.indications__item .num{
    font-family: IgraSans;
    font-size: 48px;
    margin-bottom: 10px;
}

.indications__item .name{
    font-family: Roboto;
    font-size: 16px;
    text-align: center;
    font-weight: 450;
}
.indications__item::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 38px;
    background-color: black;
    right: 0px;
    top: 35%;
}
.indications__item:last-child::before {
    display: none;
}
